@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body{
    background-color: rgb(87, 79, 70);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

h2{
    display: flex;
    color: white;
    font-size: 35px;
}

.icono{
    color: rgba(223, 85, 21, 0.829);
    padding-left: 10px;
}

nav{
    display: flex;
    gap: 130px;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;    
}

a i{
    font-size: 20px;
}

.nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    transition: 0.5s ease-in-out;
    color: rgb(254, 75, 5);
}
.Propaganda{
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(254, 75, 5);
    border-radius: 30px;
    
}

.Propaganda h1{
    font-size: 60px;
    font-family: 'Caveat', cursive;
    margin: 1em;
}

.tendencia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 49, 58, 0.856);
    padding: 1em;
    height: 5em;
    margin: 2em 1em;
}

.tendencia h3{
    font-size: 30px;
    color: white;
}

/*------------------ estilos de carrusel -------------------------*/

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 100%;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    /* transform: translate(0, -50%); */
    cursor: pointer;
    /* -ms-transform: translate(0, -50%); */
    /* transform: translate(0, -50%); */
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
    li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.685), 
                -1px 0px 2px rgba(255, 255, 255, 0);
}

#titulo h2{
    color: white;
    justify-content: center;
    margin-top: 10px;
}
/* ----------------------------- fin de carrusel -------------------------------------- */

.Tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 77, 7);
    height: 3em;
    margin: 2em 1em;

}
.Tienda h3{
    color: white;
    font-size: 30px;
}

.elige {
    display: flex;
    justify-content: space-around;    
    margin-top: 20px;
}

.elige h2{
    font-size: 40px;
    color: white;
}

.estaciones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.estaciones h4{
    font-size: 30px;
    color: white;
}


.contenedor {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

.contenedor .item b{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.69);
}

.contenedor0, .contenedor1, .contenedor2{
    height: 550px;
    width: 480px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: aliceblue;
    border: transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 20px rgba(0, 0, 0, 0.209); 
    transform: perspective(1000px) rotateX(10deg);
}

.item {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 23px;
    position: relative;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover{
    transform: scale(1.3);
    opacity: 1;
    filter: blur(0px);
    box-shadow: 10px 5px 5px rgba(17, 18, 96, 0.492);
}

.item0-1{
    background: rgb(227, 225, 210);
}

.item0-2{
    background: rgb(194, 196, 183);
}

.item0-3{
    background: rgb(209, 207, 208);
}

.item0-4{
    background: rgb(173, 169, 144);
}

.item0-5{
    background: rgb( 191, 202, 194);
}

.item0-6{
    background: rgb( 210, 200, 209);
}

.item0-7{
    background: rgb( 147, 154, 138);
}

.item0-8{
    background: rgb(62, 85, 93);
}

.item0-9{
    background: rgb(110, 106, 105);
}

.item1-1{
    background: rgb(230, 211, 194);
}
.item1-2{
    background: rgb(232, 217, 210);
}
.item1-3{
    background: rgb(219, 195, 185);
}
.item1-4{
    background: rgb(226, 208, 134);
}
.item1-5{
    background: rgb(218, 192, 165);
}
.item1-6{
    background: rgb(182, 126, 127);
}
.item1-7{
    background: rgb(193, 133, 73);
}
.item1-8{
    background: rgb(147, 79, 44);
}
.item1-9{
    background: rgb(97, 81, 82);
}

.item2-1{
    background: #8E354A;
}
.item2-2{
    background: #c46424;
}
.item2-3{
    background: #FFA07A;
}
.item2-4{
    background: #FFDAB9;
}
.item2-5{
    background: #FDB813;
}
.item2-6{
    background: #E38AAE;
}
.item2-7{
    background: #1B4D3E;
}
.item2-8{
    background: #3C435A;
}
.item2-9{
    background: #62422B;
}

.Calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 77, 7);
    border-radius: 80px;
    height: 450px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 10px 5px 5px rgba(255, 77, 7, 0.897)
}

.Calculadora h3{
    color: white;
    font-size: 40px;
}

.Calculadora p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 60px;
}

#formCalculadora{
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 77, 7);
    border-radius: 80px;
    height: 37vh;
}

.calConteiner{
    display: flex;
    gap: 20px;
    padding: 10px;
    color: white;
    font-size: 30px;
    margin-right: 650px;
}

.calConteiner input{
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border: solid orangered 1px;
}

.btn-calcular{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: orangered;
    border: solid orangered 1px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-calcular:hover{
    transition: 1s ease-in-out;
    background-color: white;
}

.resultadojs{
    background-color: antiquewhite;
    border-radius: 20px;
}

/* CSS FORMULARIO PARA CONSULTAS*/

#formContacto{
    width: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
    border-radius: 80px;
    font-size: 30px;
    color: white;
}

.contactoContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: orangered;
    font-size: 30px;
}

.contactoContainer input{
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border: solid orangered 1px;
}

.contactoContainer option{
    height: 40px;
    font-size: 30px;
    border: solid orangered 1px;
}

.motivoContainer select{
    width: 100%;
    font-size: 30px;
    border-radius: 5px;
}

.contactoContainer textarea{
    height: 80px;
    font-size: 30px;
    border-radius: 5px;
    border: solid orangered 1px;
}

.btn-enviar{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: orangered;
    border: solid orangered 1px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 10px;
}


/* FORMULARIO REGISTRARSE */

.h1-contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 77, 7);
    border-radius: 80px; 
    height: 50px;
    color: white;
    padding: 3vh 5vw;
    margin-top: 5vh;
}

.h2-contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px; 
    height: 20px;
    font-size: 30px;
    padding: 3vh 5vw;
    margin-top: 5vh;
}

main form{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 5vh;
}

main form .inputcontainer{
    background-color: rgb(87, 79, 70);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 25px;
    color: white;
    
}
main form .inputcontainer input{
    border: none;
    border-bottom: 1px solid orangered;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(87, 79, 70);
    color: white;

}

.btn-Registrar{
    padding: 10px;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    border: solid orangered 1px;
    width: 200px;
    font-size: 25px;
}

.btn-Registrar:hover{
    transition: 1s ease-in-out;
    color: orangered;
    background-color: white;

}

.contenedorUsuarios{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
}
.card-user{
    padding: 20px;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    width: 300px;

}

.boton1 input:focus{
    background-color: orangered;
    color: white;
}

/* CARRITO DE COMPRAS */

.h1-productos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 77, 7);
    border-radius: 80px; 
    height: 50px;
    color: white;
}

.h1-carritoDeCompras{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 77, 7);
    border-radius: 80px; 
    height: 50px;
    color: white;
}

/* PREGUNTAS FRECUENTES */

.h1-preguntasFrecuentes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 77, 7);
    border-radius: 80px; 
    height: 50px;
    color: white;
}

main{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 3vw;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-block-end: 40px;
    background-color: orangered
}


footer h2{
    padding: 20px;
    font-size: 35px;
}

footer h2 i{
    color: white;
}


.sucContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 25px;
}

.sucContainer h6{
    font-size: 30px;
    color: white solid;
}

.atenContainer nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    color: white;
}

.atenContainer a:hover{
    transition: 0.5s ease-in-out;
    color: rgb(87, 79, 70);
}

.atenContainer h6{
    font-size: 30px;
    color: white solid;
}

.nosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 25px;
}

.nosContainer h6{
    font-size: 30px;
    color: white solid;
}

ul{
    list-style: none;
}

.redesContainer{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.redesContainer h6{
    font-size: 30px;
    color:  white
}

.redesContainer i{
    color: white;
    font-size: 30px;
}

.copyrightcontainer{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.h1-nosotros{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 77, 7);
    border-radius: 80px; 
    height: 50px;
    width: 20%;
    text-shadow: 1px 2px 5px rgb(20, 20, 20);
    color: white;
    
}

.nosotros-text{
    display: flex;
    justify-content: center;

}
.nosotros-text p{
    font-size: 25px;
    margin-top: 5%;
    width: 75%;
    height: auto;
    padding: 20px;
    border: 4px solid #c46424bd;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #c46424bd;
}